body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 90%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 13%;
  left: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  padding-top: 5%;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f8f7f7;
  display: block;
}

.sidebar a:hover {
  color: #090909;
}
.sidebar a.active{
    color: #090909;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}